#app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    min-height: 100vh;
}

#app main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.container {
    margin-inline: auto;
    width: 100%;
    max-width: 80vw;
}